<p id="notice"><%= notice %></p>

<div id="react-root" data-page="document-show"></div>

<br />

<%= link_to 'Back', documents_path %>

<script>
  window.backend_document = <%= sanitize @document.to_json %>;
</script>
