<h1>Project KADY</h1>
<p>
  Consumer gene sequencing provides two options: charts that go into almost no depth, and reams of raw data. Neither is particularly useful for understanding what diseases you might be susceptible thanks to single errors in your DNA: single nucleotide polymorphisms (SNPs).
</p>


<div class="features">
  <div class="feature">
    <i class="fa fa-building icon"></i>
    <div class="content">Compare genotyping providers based on what SNPs they give data on</div>
  </div>

  <div class="feature">
    <i class="fa fa-flask icon"></i>
    <div class="content">See which SNPs affect which diseases</div>
  </div>
  <div class="feature">
    <i class="fa fa-bug icon"></i>
    <div class="content">Browse by disease, and see which providers will get you the SNP information you need</div>
  </div>

</div>
