
<% content_for :white do %>
  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <br />
  <p>
    By using this tool, you acknowledge that it was created for educational purposes, and that the data may or may not be correct. Furthermore, these mutations are likely to account for only a small or negligible portion of your risk. You are strongly encouraged to talk to a doctor or genetic counselor if you have any questions. Finally, by using this tool you agree not to hold its creators liable.
  </p>
  <br />
<% end %>

<h1>Project KADY</h1>
<p>
  Consumer gene sequencing provides two options: charts that go into almost no depth, and reams of raw data. Neither is particularly useful for understanding what diseases you might be susceptible thanks to single errors in your DNA: single nucleotide polymorphisms (SNPs).
</p>

<div id="react-root" data-page="disease-search"></div>

<div class="features">
  <div class="feature">
    <i class="fa fa-building icon"></i>
    <div class="content">Compare genotyping providers based on what SNPs they give data on</div>
  </div>

  <div class="feature">
    <i class="fa fa-flask icon"></i>
    <div class="content">See which SNPs affect which diseases</div>
  </div>
  <div class="feature">
    <i class="fa fa-bug icon"></i>
    <div class="content">Browse by disease, and see which providers will get you the SNP information you need</div>
  </div>

</div>
